@import "./core/reset";
.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 300px;
  margin-right: 300px;
}

.form {
  margin: auto;
}
.nameLabel {
  font-size: 30px;
  display: block;
  padding: 20px 55px;
}
.chng {
  animation-name: chngsearch;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-iteration-count: 2;
}
@keyframes chngsearch {
  from {
    color: white;
  }
  to {
    color: #05464e;
  }
}
.inputForm {
  width: 200px;
  height: 30px;
  border-color: black;
  margin-bottom: 50px;
  color: black;
  font-size: 24px;
  padding: 10px;
  background-color: #00afc8;
  box-shadow: 4px 3px 5px #90c746;
}
.charList {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.main-img {
  width: 550px;
  height: 200px;
  display: block;
  margin: auto;
}
.charItem {
  justify-self: center;
  margin-bottom: 50px;
  border: 2px solid #05464e;
  background-color: #00afc8;
}
.li-item {
  width: 250px;
  background-color: #00afc8;
}
.change:hover {
  animation-name: anicards;
  animation-timing-function: ease-in-out;
  animation-duration: 0.75s;
}
@keyframes anicards {
  from {
    width: 250px;
  }
  to {
    width: 255px;
  }
}

.li-img {
  width: 250px;
}
.charName {
  background-color: #00afc8;
  font-size: 20px;
  color: black;
}
.charSpec {
  background-color: #00afc8;
}
.details-container {
  display: flex;
  border: 2px solid chartreuse;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 50%;
  }
}
// .img-details {
//   height: 20%;
//   @media (min-width: 768px) {
//     width: 40%;
//     height: 20%;
//   }
// }
.descriptionText {
  font-size: 16px;
  @media (min-width: 768px) {
    font-size: 24px;
  }
}
.text-status,
.text-spec,
.text-origin,
.text-episodes {
  color: #00afc8;
}
.text-name {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.back-link {
  display: block;
  color: #00afc8;
  padding: 3px;
  font-size: 16px;
  text-align: end;
  @media (min-width: 768px) {
    display: inline-block;
  }
}
